@import"reset.css";
body{
	background:url(../images/body-bg.gif) 50% 0;
	font:12px/18px Arial, Helvetica, sans-serif;
	color:#717171;
	position:relative;
	min-width:960px;
}
html,body{height:100%;}
html {min-width:960px;}
.main-bg {
	background:url(../images/fondo4.png) no-repeat center 0;
	min-height:100%;
}